.profile-details {
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.image_center{
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}

.profile-details ul {
    list-style: none;
    padding: 0;
}

.profile-details ul li {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.profile-details ul li span {
    font-weight: bold;
}
